body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:beige; /* beige background */
    line-height: 1.2em;
    }

.dev-menu-title{
    text-align: center;
    width:800px;
}

h1,h2,h3 {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    color:rgb(155, 13, 13);
    padding: 5px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    margin: 5px;
    color:rgb(30, 5, 119);
    padding: 5px;
    letter-spacing: 2px;
}

.ingredient-styling {
padding: 5px;
}

p{
    padding: 5px;
    margin: 5px;
}

#dev-favorites-gallery-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.Food-Truck-Chef-at-work {
    justify-content: flex-start;
    width: 200px;
    height: auto;
    margin: 10px;
}

.Food-Truck-Chef-giving-food-to-a-happy-customer {
    justify-content: flex-start;
    width: 200px;
    height: auto;
    margin:10px;
}

.Food-Truck-customers-enjoying-meal {
    
    justify-content: flex-start;
    width: 200px;
    height: auto;
    margin: 10px;
}

.footer-icon {
    justify-content: flex-start;
    width: 50px;
    height: auto;
    margin: 10px;
}

#footer-socialmedia-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
